import cucumber.api.CucumberOptions;
import cucumber.api.testng.AbstractTestNGCucumberTests;

@CucumberOptions(strict = $strict,
    features = {"classpath:$featureFile"},
    plugin = {$reports, "pretty"},
    monochrome = ${monochrome},
    tags = {$tags},
    glue = { $glue })
public class $className extends AbstractTestNGCucumberTests {
}
