import org.junit.runner.RunWith;

import cucumber.api.CucumberOptions;
import cucumber.api.junit.Cucumber;

@RunWith(Cucumber.class)
@CucumberOptions(strict = $strict,
features = {"classpath:$featureFile"},
plugin = {$reports, "pretty"},
monochrome = ${monochrome},
tags = {#if($tags)$tags#end},
glue = { $glue })
public class $className {
}
