#if ($packageName)package $packageName;

#end##
import cucumber.api.CucumberOptions;
import cucumber.api.testng.AbstractTestNGCucumberTests;

@CucumberOptions(strict = $strict,
features = {"$featureFile"},
plugin = {$reports},
monochrome = ${monochrome},
#if(!$featureFile.contains(".feature:") ) tags = {#if($tags)$tags#end}, #end
glue = { $glue })
public class $className extends AbstractTestNGCucumberTests {
}
